if ! has nix_direnv_version || ! nix_direnv_version 3.0.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.0/direnvrc" "sha256-21TMnI2xWX7HkSKjPdzD6y9p0+0gKD6k7Ln/IFP4ERU="
fi
use flake
