[Desktop Entry]
Name=Boxcraft
Comment=Explore and edit a voxel world
Exec=/bin/boxcraft
Icon=apps
X-Scarlet-Background=/share/app-art/boxcraft-cover.png
X-Scarlet-BackgroundBlur=label
Type=Application
Terminal=false
