#!/bin/sh
# Scarlet Shell Initialization Script

# Set environment variables
export PATH=/scarlet/system/scarlet/bin:/scarlet/system/linux-{arch}/usr/bin

#for dynamic linking of libraries in the system and user directories
export LD_LIBRARY_PATH=/scarlet/system/linux-{arch}/usr/lib:/scarlet/system/linux-{arch}/lib

export XDG_RUNTIME_DIR=/tmp
export WAYLAND_DISPLAY=wayland-0
export GDK_BACKEND=wayland
export MESA_LOADER_DRIVER_OVERRIDE=swrast

export HOME=/root

echo "Welcome to Scarlet! (desktop distro)"